﻿@model D1024242052.MyMVC.Models.LoginViewModels

@{
    Layout = "~/Views/Shared/master.cshtml";
}





    @using (Html.BeginForm())
    {
       
        @Html.AntiForgeryToken()
        <div class="jumbotron">
            <p>
                @Html.EditorForModel()
            </p>
            <button class="btn btn-primary btn-lg" type="submit">登入</button>

        </div>
    }


