﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>master</title>
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*@
    @Styles.Render("~/Content/css")  
    
</head>
<body>
    <nav class="navbar navbar-inverse navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MyMVC</a>
            </div>
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/home/index">Hello</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="container body-content">
            @RenderBody()
            @Scripts.Render("~/bundles/bootstrap")

    </div>
</body>
</html>
