﻿@model D1024242052.MyMVC.Models.User

@{
    Layout = "~/Views/Shared/master.cshtml";
}

  



    @using (Html.BeginForm())
    {
     <input type="submit" value="send" />
        @Html.AntiForgeryToken()
        <div class="jumbotron">
            <p>
                @Html.EditorForModel()
            </p>

            <button class="btn btn-primary btn-lg" type="submit">登入</button>
            @Model.FristName @Model.LastName
            
        </div>
    }
   

